In [1]:
import pandas as pd

In [2]:
ufo=pd.read_csv('http://bit.ly/uforeports')

In [3]:
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [4]:
ufo=pd.read_csv('http://bit.ly/uforeports',usecols=['City','State'])

In [5]:
ufo.columns

Index(['City', 'State'], dtype='object')

In [6]:
ufo=pd.read_csv('http://bit.ly/uforeports',usecols=[0,4])
ufo.columns

Index(['City', 'Time'], dtype='object')

In [7]:
ufo=pd.read_csv('http://bit.ly/uforeports',nrows=3)

In [8]:
ufo

          City  Colors Reported Shape Reported State             Time
0       Ithaca              NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro              NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke              NaN           OVAL    CO  2/15/1931 14:00

In [9]:
for c in ufo.City:
    print(c)

Ithaca
Willingboro
Holyoke

In [10]:
for index,row in ufo.iterrows():
    print(index,row.City,row.State)

0 Ithaca NY
1 Willingboro NJ
2 Holyoke CO

In [11]:
drinks=pd.read_csv('http://bit.ly/drinksbycountry')

In [12]:
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [13]:
import numpy as np
drinks.select_dtypes(include=[np.number]).dtypes

beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
dtype: object

In [14]:
drinks.describe()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000

In [15]:
 drinks.describe(include=['object','float64'])

            country  total_litres_of_pure_alcohol continent
count           193                    193.000000       193
unique          193                           NaN         6
top     Afghanistan                           NaN    Africa
freq              1                           NaN        53
mean            NaN                      4.717098       NaN
std             NaN                      3.773298       NaN
min             NaN                      0.000000       NaN
25%             NaN                      1.300000       NaN
50%             NaN                      4.200000       NaN
75%             NaN                      7.200000       NaN
max             NaN                     14.400000       NaN

In [16]:
drinks.head

<bound method NDFrame.head of          country  beer_servings  spirit_servings  wine_servings  \
0    Afghanistan              0                0              0
1        Albania             89              132             54
2        Algeria             25                0             14
3        Andorra            245              138            312
4         Angola            217               57             45
..           ...            ...              ...            ...
188    Venezuela            333              100              3
189      Vietnam            111                2              1
190        Yemen              6                0              0
191       Zambia             32               19              4
192     Zimbabwe             64               18              4

     total_litres_of_pure_alcohol      continent
0                             0.0           Asia
1                             4.9         Europe
2                             0.7         Africa
3                            12.4         Europe
4                             5.9         Africa
..                            ...            ...
188                           7.7  South America
189                           2.0           Asia
190                           0.1           Asia
191                           2.5         Africa
192                           4.7         Africa

[193 rows x 6 columns]>